<h1>Edit Your Event</h1>
<form name="eventsEdit.eventsForm" ng-submit="eventsEdit.update()" novalidate>
<!-- {{ eventsEdit.event }} -->
  <div>
    <label for="name">Event Name</label>
    <input name="name" type="text" ng-model="eventsEdit.event.name" required>
  </div>
  <!-- error message -->
  <div class="errorDiv" ng-messages="eventsEdit.eventsForm.name.$error" ng-show="eventsEdit.eventsForm.$submitted || eventsEdit.eventsForm.name.$touched">
    <div class="error" ng-message="required">Event name is required.</div>
  </div>

  <div>
    <label>Date</label>
    <input name="date" type="date" ng-model="eventsEdit.event.date" required>
  </div>
  <!-- error message -->
  <div class="errorDiv" ng-messages="eventsEdit.eventsForm.date.$error" ng-show="eventsEdit.eventsForm.$submitted || eventsEdit.eventsForm.date.$touched">
    <div class="error" ng-message="required">Date is required.</div>
  </div>

  <div>
    <label for="price">Price (£)</label>
    <input name="price" type="integer" ng-model="eventsEdit.event.price" ng-pattern="/^[0-9]+(\.[0-9]{2})?$/" required>
  </div>
  <!-- error message -->
  <div class="errorDiv" ng-messages="eventsEdit.eventsForm.price.$error" ng-show="eventsEdit.eventsForm.$submitted || eventsEdit.eventsForm.price.$touched">
    <div class="error" ng-message="required">Price is required</div>
    <div class="error" ng-message="pattern">You must enter a number</div>
  </div>

  <div>
    <label for="description">Description</label>
    <textarea name="description" ng-model="eventsEdit.event.description" required></textarea>
  </div>
  <!-- error message -->
  <div class="errorDiv" ng-messages="eventsEdit.eventsForm.description.$error" ng-show="eventsNew.eventsForm.$submitted || eventsEdit.eventsForm.description.$touched">
    <div class="error" ng-message="required">A description is required. Please include the time of your event</div>
  </div>

  <div class="form-group">
    <label for="base64">Image</label>
    <input type="file" base64 name="base64" id="base64" ng-model="eventsEdit.event.base64">
  </div>

  <div>
    <label for="location">Location</label>
    <input id="location" type="text" name="location" autocomplete ng-model="eventsEdit.event.location" lat="eventsEdit.event.latitude" lng="eventsEdit.event.longitude" required>
  </div>
  <!-- error message -->
  <div class="errorDiv" ng-messages="eventsEdit.eventsForm.location.$error" ng-show="eventsEdit.eventsForm.$submitted || eventsEdit.eventsForm.location.$touched">
    <div class="error" ng-message="required">A location is required.</div>
  </div>

  <div>
    <button class="btn btn-success">Update</button>
    <button class="btn btn-danger" ui-sref="eventsShow({ id: eventsEdit.event.id })">Cancel</button>
  </div>

</form>
