<div class="eventFormContainer">
  <h1>Edit your profile</h1>
  <form class="eventForm" name="usersEdit.usersForm" ng-submit="usersEdit.update()" novalidate>
    <div>
      <label>Username</label>
      <input name="username" type="text" ng-model="usersEdit.user.username" ng-maxlength="12" required>
    </div>
    <!-- Error message! -->
    <div ng-messages="usersEdit.usersForm.username.$error" ng-show="(usersEdit.usersForm.$submitted || usersEdit.usersForm.username.$touched)">
      <div class="error" ng-message="required">Username is required!</div>
      <div class="error" ng-message="maxlength"> Username must be less than 12 characters</div>
    </div>

    <div>
      <label>Email</label>
      <input name="email" type="email" ng-model="usersEdit.user.email" required placeholder="Email">
    </div>
    <!-- Error message! -->
    <div ng-messages="usersEdit.usersForm.email.$error" ng-show="(usersEdit.usersForm.$submitted || usersEdit.usersForm.email.$touched)">
      <div ng-message="required"><em class="error">Email is required!</em></div>
      <div class="error" ng-message="email">Valid email address is required!</div>
    </div>

    <div>
      <label>New Password</label>
      <input name ="password" type="password" ng-model="usersEdit.user.password" minlength="4" required placeholder="Password">
    </div>
    <!-- Error message! -->
    <div ng-messages="usersEdit.usersForm.password.$error" ng-show="(usersEdit.userForm.$submitted || usersEdit.usersForm.password.$touched)">
      <div ng-message="required"><em class="error">Password is required!</em></div>
      <div ng-message="minlength"><em class="error">Password needs to be at least 4 characters!</em></div>
    </div>

    <div>
      <label class="base64Lbl" for="base64">Image</label>
      <input type="file" base64 name="base64" id="base64" ng-model="usersEdit.user.base64">
    </div>

    <div>
      <label>Bio</label>
      <input name="bio" type="text" ng-model="usersEdit.user.bio" required>
    </div>
    <!-- Error message! -->
    <div ng-messages="usersEdit.usersForm.bio.$error" ng-show="(usersEdit.usersForm.$submitted || usersEdit.usersForm.bio.$touched)">
      <div class="error" ng-message="required">Bio is required!</div>
    </div>

    <button>Finished</button>
  </form>
</div>
