<form name="usersEdit.usersForm" ng-submit="usersEdit.update()">

  <div>
    <label>Username</label>
    <input name="username" type="text" ng-model="usersEdit.user.username" required>
  </div>
  <!-- Error message! -->
  <div ng-messages="usersEdit.usersForm.username.$error" ng-show="(usersEdit.usersForm.$submitted || usersEdit.usersForm.username.$touched)">
    <div ng-message="required"><em class="error">username is required!</em></div>
  </div>

  <div>
    <label for="base64">Image</label>
    <input type="file" base64 name="base64" id="base64" ng-model="usersEdit.user.base64">
  </div>

  <button>Finished</button>
</form>
