<h1>Create New Event</h1>
<form ng-submit="eventsNew.create()">
{{ eventsNew.event }}
  <div>
    <label for="name">Event Name</label>
    <input type="text" ng-model="eventsNew.event.name">
  </div>

  <div>
    <label for="date">Date</label>
    <input type="date" ng-model="eventsNew.event.date">
  </div>

  <div>
    <label for="maxTickets">Max Tickets</label>
    <input type="integer" ng-model="eventsNew.event.max_tickets">
  </div>

  <div>
    <label for="price">Price</label>
    <input type="integer" ng-model="eventsNew.event.price">
  </div>

  <div>
    <label for="description">Description</label>
    <input type="text" ng-model="eventsNew.event.description">
  </div>

  {{ eventsNew.event.base64 }}
  <div>
    <label for="base64">Image</label>
    <input type="file" base64 name="base64" id="base64" ng-model="eventsNew.event.base64">
  </div>

  <div>
    <label for="location">Location</label>
    <input id="location" type="text" name="location" autocomplete ng-model="eventsNew.event.location" lat="eventsNew.event.latitude" lng="eventsNew.event.longitude" required>

</div>

  <div>
    <button class="btn btn-success">Submit</button>
      <button class="btn btn-danger" ui-sref="eventsIndex">Cancel</button>
  </div>

</form>
