<h1>Add a new event</h1>
<!-- Host must exist... Need to be logged in for host -->

<form ng-submit="eventsNew.create()">
{{ eventsNew.event }}
  <div>
    <label>Name</label>
    <input type="text" ng-model="eventsNew.event.name">
  </div>

  <div>
    <label>Date</label>
    <input type="date" ng-model="eventsNew.event.date">
  </div>

  <div>
    <label>Max Tickets</label>
    <input type="integer" ng-model="eventsNew.event.max_tickets">
  </div>

  <div>
    <label>Price</label>
    <input type="integer" ng-model="eventsNew.event.price">
  </div>

  <!-- <div>
    <label>Location</label>
    <input type="text" ng-model="eventsNew.event.location">
  </div> -->

  <div>
    <label>Description</label>
    <input type="text" ng-model="eventsNew.event.description">
  </div>

  <div>
    <label>Image</label>
    <input type="text" ng-model="eventsNew.event.image">
  </div>

  <div>
    <label for="location">Location</label>
    <input id="location" type="text" name="location" autocomplete ng-model="eventsNew.event.location" lat="eventsNew.event.latitude" lng="eventsNew.event.longitude" required>

</div>

  <div>
    <button class="btn btn-success">Submit</button>
  </div>

</form>

<!-- <div class="row">
  <div class="col-md-6">
    <form ng-submit="eventsNew.create()">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" ng-model="eventsNew.event.name">
      <label for="date">Date</label>
      <input type="date" id="date" name="date" ng-model="eventsNew.event.date">
      <label for="location">Location</label>
      <input type="text" id="location" name="location" ng-model="eventsNew.event.location">
      <label>Attendees</label>
      <label ng-repeat="user in eventsNew.users">
        <input type="checkbox" name="attendees" checklist-model="eventsNew.event.attendee_ids" checklist-value="user.id">{{ user.username }}
      </label>
      <button>Create</button>
    </form>
  </div>
</div> -->

<!-- create_table "events", force: :cascade do |t|

  t.integer  "tickets_left"
  t.integer  "price"
  t.string   "video"
  t.integer  "user_id"
  t.index ["user_id"], name: "index_events_on_user_id", using: :btree
end -->
