<h1>Add a new event</h1>
<!-- Host must exist... Need to be logged in for host -->

<form ng-submit="eventsNew.create()">
{{ eventsNew.event }}
  <div>
    <label>Name</label>
    <input type="text" ng-model="eventsNew.event.name">
  </div>

  <div>
    <label>Date</label>
    <input type="date" ng-model="eventsNew.event.date">
  </div>

  <div>
    <label>Max Tickets</label>
    <input type="integer" ng-model="eventsNew.event.max_tickets">
  </div>

  <div>
    <label>Price</label>
    <input type="integer" ng-model="eventsNew.event.price">
  </div>

  <!-- <div>
    <label>Location</label>
    <input type="text" ng-model="eventsNew.event.location">
  </div> -->

  <div>
    <label>Description</label>
    <input type="text" ng-model="eventsNew.event.description">
  </div>

  <!-- <div>
    <label>Image</label>
    <input type="text" ng-model="eventsNew.event.image">
  </div> -->

  {{ eventsNew.event.base64 }}
  <div>
    <label for="base64">Image</label>
    <input type="file" base64 name="base64" id="base64" ng-model="eventsNew.event.base64">
  </div>

  <div>
    <label for="location">Location</label>
    <input id="location" type="text" name="location" autocomplete ng-model="eventsNew.event.location" lat="eventsNew.event.latitude" lng="eventsNew.event.longitude" required>

</div>

  <div>
    <button class="btn btn-success">Submit</button>
  </div>

</form>
