<h1>EVENT SHOW</h1>

<h1>{{ eventsShow.event.name }}</h1>
<img class="EventShowImg" src="{{ eventsShow.event.image }}" alt="{{ eventsShow.event.name }}">
<p>{{ eventsShow.event.location }}</p>
<p>{{ eventsShow.event.date }}</p>
<p><span class="ticksleft">{{ eventsShow.event.tickets_left }}</span> tickets left</p>
<p>hosted by - <a href="#">{{ eventsShow.event.user.username }}</a></p>

<div>
  <button class="btn btn-primary" ui-sref="eventsEdit({ id:eventsShow.event.id })">Edit This Event</button>
  <button class="btn btn-danger" ng-click="eventsShow.delete()">Delete this Event</button>
</div>
