<h1>{{ eventsShow.event.name }}</h1>
<img class="EventShowImg" ng-src="{{ eventsShow.event.image_src }}" alt="{{ eventsShow.event.name }}">
<p>{{ eventsShow.event.location }}</p>
<p>{{ eventsShow.event.date | date: 'EEEE, d MMMM yyyy' }}</p>
<p><span class="ticksleft">{{ eventsShow.event.tickets_left }}</span> tickets left</p>
<p>Host: <a ui-sref="usersShow({ id: eventsShow.event.user.id })">{{ eventsShow.event.user.username }}</a></p>
<img src="eventsShow.event.user.image" alt="{{ eventsShow.event.user.username }}'s Photo">

<h1>Attendees!</h1>
<!-- {{ eventsShow.event.attendees }} -->
<ul>
  <li class="attendees" ng-repeat="attendee in eventsShow.event.attendees">{{ attendee.username }}  </li>
</ul>

<div>
  <button class="btn btn-primary" ui-sref="eventsEdit({ id:eventsShow.event.id })">Edit This Event</button>
  <button class="btn btn-danger" ng-click="eventsShow.delete()">Delete this Event</button>
</div>


<div class="comments">
  <div class="row">
    <div class="col-md-6">
      <h2>Comments</h2>
      <ul>
        <li ng-repeat="comment in eventsShow.event.comments"><strong><a ui-sref="usersShow({ id: eventsShow.event.user.id })">{{ comment.user.username }}</a> says: </strong>{{ comment.body }} <button ng-click="eventsShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUser.id === comment.user.id">Delete Comment</button></li>
      </ul>
    </div>

    <div ng-if="main.isAuthenticated()">
      <h2>Add Comment</h2>
      <form ng-submit="eventsShow.addComment()">
        <textarea type="text" name="body" ng-model="eventsShow.comment.body"></textarea>
        <button>Post Comment</button>
      </form>
    </div>
  </div>
</div>
