body{
  text-align: center;
}

.google-map{
  height: 75vh;
  width: 75%;
  display: inline-block;
  border: 2px solid #b5b2b2;
}

//EVENT INDEX
.EventIndexDiv{
  display: inline-block;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 5px;
  img{
    display: inline-block;
    height: 200px;
    width: 200px;
  }
}

.EventInnerDiv{
  margin: 4px;
}

li{
  list-style-type: none;
  display: inline-block;
}

.ticksleft{
  color: red;
  font-weight: bold;
}

//EVENT SHOW
.EventShowImg{
  height: 500px;
  width: 500px;
}

.btn{
  margin: 5px 10px;
}

.attendees{
  display: block;
  list-style-type: none;
}

//USER INDEX
.UserIndexDiv{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: 5px;
  img{
    height: 200px;
    width: 200px;
  }
}

.UserInnerDiv{
  margin: 4px;
}

//USER SHOW
.UserShowImg{
  height: 500px;
  width: 500px;
}

//UsersShow tabs
.tabitems{
  display: inline;
}

//infowindow
.infowind{
  height: 100px;
  width: 100px;
}

// index tabs
// .tab1{
//   // background-color: blue;
//   height: 90vh;
//   width: 100%;
// }

// .tab2{
//   background-color: red;
//   height: 90vh;
//   width: 100%;
// }

/* text recolor */
h1, p, button {
  color: #4DC9C9 !important;
}

/* button recolor */
.nav-pills > li.active > button, .btn-primary {
  background-color: #6C6C6C !important;
  // feeling like it's a rounded corners kind of day
  border-color: #6C6C6C !important;
  border-radius: 25px;
}

.col-md-8 {
  height: 200px;
  // background-color: red;
}

.error{
  color: red;
  font-weight: bold;
}
